.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .15s ease-in-out all;
  z-index: -1; }

.modal-overlay--show {
  z-index: 100;
  opacity: 1;
  transition: .15s ease-in-out all; }

.modal {
  background: white;
  border-radius: 6px;
  position: absolute;
  width: 95%;
  top: -20%;
  left: 2.5%;
  z-index: -1;
  opacity: 0; }

.modal--show {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
  top: 2.5%;
  z-index: 101;
  opacity: 1;
  transition: .35s ease-out opacity, .3s ease-out top; }

@media (min-width: 500px) {
  .modal,
  .modal--show {
    left: 50%;
    margin-left: -200px;
    width: 420px; }

  .modal--show {
    top: 15%; } }
.modal-close {
  border-radius: 0 5px 0 0;
  font-size: 1.5em;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 58px;
  text-align: center;
  font-weight: 800;
  top: 0;
  right: 0;
  text-align: center;
  cursor: pointer; }

.modal-close:hover {
  background: #e34c33;
  color: #fff; }

.modal-header,
.modal-footer {
  height: 60px;
  line-height: 60px;
  padding: 0 20px; }

.modal-header {
  background: #f8f8f8;
  border-radius: 6px 6px 0 0; }

.modal-footer {
  background-color: #f8f8f8;
  border-radius: 0 0 6px 6px;
  text-align: right; }

.modal-title {
  color: #333333;
  font-size: .85em;
  font-weight: bold; }

@media (min-width: 500px) {
  .modal-title {
    font-size: 1.2em; } }
.modal-guts {
  padding: 20px; }

.modal-action {
  -webkit-appearance: none;
  background: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: 6.9px 16.8px 8.1px; }

.modal-cancel {
  background: #dddddd;
  color: #666666;
  text-shadow: 0 1px 0 #e6e6e6; }

.modal-confirm {
  background: #40aae7;
  color: white;
  text-shadow: 0 1px 0 #666666; }
