$breakpoint: 500px;

$overlay-bg-color: rgba(0,0,0,.5);
$modal-bg-color: #fff;
$modal-header-bg-color: #f8f8f8;
    $modal-title-color: #333;
$modal-footer-bg-color: #f8f8f8;

$modal-border-radius: 6px;
$modal-width-on-desktop: 420px;
$modal-title-height: 60px;

$modal-close-color: #e34c33;
$modal-action-border-radius: 4px;
$modal-action-confirm-color: #40aae7;
    $modal-action-confirm-text-color: #fff;
$modal-action-cancel-color: #ddd;
    $modal-action-cancel-text-color: #666;

$modal-success-color: #44dd70;
$modal-error-color: $modal-close-color;

.modal-overlay {
    background: $overlay-bg-color;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top:0;
    left:0;
    opacity: 0;
    transition: .15s ease-in-out all;
    z-index: -1;
}
.modal-overlay--show {
    z-index: 100;
    opacity: 1;
    transition: .15s ease-in-out all;
}


.modal {
    background: $modal-bg-color;
    border-radius: $modal-border-radius;
    position:absolute;
    width:95%;
    top:-20%;
    left:2.5%;
    z-index:-1;
    opacity:0;
}
.modal--show {
    box-shadow:0 2px 7px rgba(0,0,0,.25);
    top:2.5%;
    z-index: 101;
    opacity:1;
    transition:.35s ease-out opacity, .3s ease-out top;
}
.modal-alert {
    box-shadow:0 2px 6px rgba(0,0,0,.25);
    border:4px solid #fff;
    cursor:pointer;
}
    @media(min-width:$breakpoint){
        .modal,
        .modal--show {
            left:50%;
            margin-left:-200px;
            width: $modal-width-on-desktop;
        }
        .modal--show {
            top:15%;
        }
        .modal-alert.modal--show {
            top:2.5%;
            left:2.5%;
            margin-left:0;
        }
    }


.modal-close {
    border-radius: 0 ($modal-border-radius - 1) 0 0;
    font-size:1.5em;
    position: absolute;
    width: $modal-title-height;
    height: $modal-title-height;
    line-height: ($modal-title-height - 2);
    text-align:center;
    font-weight:800;
    top:0;
    right:0;
    text-align:center;
    cursor:pointer;
}
.modal-close:hover {
    background:$modal-close-color;
    color:#fff;
}
.modal-alert .modal-close {
    border:2px solid #fff;
    border-radius:$modal-title-height;
    color:#fff;
    line-height:($modal-title-height * .52);
    height:($modal-title-height * .55);
    top:($modal-title-height * .15);
    right:($modal-title-height * .15);
    width:($modal-title-height * .55);
}


.modal-header,
.modal-footer {
    height: $modal-title-height;
    line-height: $modal-title-height;
    padding:0 20px;
}
.modal-header {
    background: $modal-header-bg-color;
    border-radius: $modal-border-radius $modal-border-radius 0 0;
}
.modal-footer {
    background-color: $modal-footer-bg-color;
    border-radius: 0 0 $modal-border-radius $modal-border-radius;
    text-align:right;
}
.modal-title {
    color: $modal-title-color;
    font-size:.85em;
    font-weight:bold;
}
    @media(min-width:$breakpoint){
        .modal-title {
            font-size:1.2em;
        }
    }
.modal-guts {
    padding:20px;
}
.modal-action {
    -webkit-appearance:none;
    background:#eee;
    border:none;
    border-radius: $modal-action-border-radius;
    cursor:pointer;
    display:inline-block;
    font-size:1em;
    font-weight:bold;
    padding: ($modal-title-height * .115) ($modal-title-height * .28) ($modal-title-height * .135);
}
.modal-cancel {
    background: $modal-action-cancel-color;
    color: $modal-action-cancel-text-color;
    text-shadow:0 1px 0 lighten(invert($modal-action-cancel-text-color),30%);
}
.modal-confirm {
    background: $modal-action-confirm-color;
    color: $modal-action-confirm-text-color;
    text-shadow:0 1px 0 lighten(invert($modal-action-confirm-text-color), 40%);
}

.modal-alert.alert-success .modal-header,
.modal-alert.alert-success .modal-guts {
    background: $modal-success-color;
}
.modal-alert.alert-error .modal-header,
.modal-alert.alert-error .modal-guts {
    background: $modal-error-color;
}
.modal-alert .modal-guts {
    border-radius: 0 0 $modal-border-radius $modal-border-radius;
    padding-top:0;
}
.alert-message {
    margin:0;
}
.modal-alert.alert-success .alert-message {
    color:darken($modal-success-color,50%);
}
.modal-alert.alert-error .alert-message {
    color:darken($modal-error-color,50%);
}
.modal-alert .modal-title {
    color:#fff;
}